.category-card{
    box-shadow: var(--box-shadow-base);
    border-radius: var(--border-radius-base);
    overflow: hidden;
    transition: var(--transition-base);
}

.category-card:hover{
    transform: translateY(-8px);
}

.category-card-image{
    width: 100%;
    height: 200px;
    position: relative;
}

.category-card-image-gradient{
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    background:linear-gradient(to top, black, transparent);
    opacity: .8;
}

.category-card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-card-image-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 20px;
}

.category-card-image-overlay h1{
    font-size: 24px; 
}

.category-card-image-overlay p{
    font-size: 16px;
}

.category-card-content{
    padding: 0 20px ;
    margin-top: 16px;
}

.category-card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 20px 20px 20px;
    margin-top: 16px;
}

.category-card-footer p{
    font-size: 16px;
}

.category-card-footer a{
    font-size: 16px;
}

.category-card-footer a:last-child{
    background-color: var(--color-primary);
    color: #fff;
    padding: 10px 20px;
    border-radius: var(--border-radius-base);
    text-decoration: none;
}

.category-card-footer a:hover{
    background-color: var(--color-yellow);
    color: var(--color-black);
}