
.dashboard {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.dashboard-sidebar {
    width: 300px;
    min-height:100%;
    background-color: var(--color-white);
    border-top-right-radius: var(--border-radius-base);
    border-bottom-right-radius: var(--border-radius-base);
    padding: 16px;
    padding-top: 64px;
    padding-bottom: 64px;
    box-shadow: var(--box-shadow-base);
}

@media(max-width:992px) {
    .dashboard-sidebar {
        width: 70px;
        height: 100%;
    }
}

.dashboard-sidebar-header {
    width: 100%;
}

.dashboard-sidebar-header-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dashboard-sidebar-header-logo img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.dashboard-sidebar-header h3 {
    text-align: center;
    margin-top: 8px;
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
}

@media(max-width:992px) {

    .dashboard-sidebar-header-logo img {
        width: 50px;
        height: 50px;
    }

    .dashboard-sidebar-header h3 {
        display: none;
    }
}

.dashboard-sidebar-content {
    width: 100%;
    margin-top: 32px;
}

.dashboard-sidebar-content a {
    width: 100%;
    height: 50px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0 16px;
    color: black;
    border-radius: var(--border-radius-base);
    text-decoration: none;
}

.dashboard-sidebar-content a:hover {
    background-color: var(--color-light-gray);
    color: var(--color-secondary);
}

.dashboard-sidebar-content a.active {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-weight: 600;
    position: relative;
}

.dashboard-sidebar-content a.active::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 4px;
    background-color: var(--color-secondary);
    border-radius: 0 2px 2px 0;
}

.dashboard-sidebar-content a span {
    margin-left: 8px;
}

.dashboard-sidebar-content a:last-child:hover{
    color: var(--color-red);
}


@media(max-width:992px) {

    .dashboard-sidebar-content a {
        justify-content: center;
        height: 40px;
    }

    .dashboard-sidebar-content a span {
        display: none;
    }

    .dashboard-sidebar-content a.active {
        background-color: var(--color-primary);
        color: var(--color-white);
        border: 2px solid var(--color-secondary);
    }
}

/* dashboard body */
.dashboard-body {
    width: calc(100% - 316px);
    min-height: 100%;
    margin-left: 16px;
    background-color: var(--color-light-gray);
}

@media(max-width:992px) {
    .dashboard-body {
        width: calc(100% - (70px + 16px));
        min-height: 100%;
    }
}