.available-vehicle{
    width: 100%;
}

.available-vehicle-container{
    margin-top: 20px;
    width: 100%;
}

.available-vehicle-container__btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.available-vehicle-container .btn{
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: var(--color-primary);
    color: var(--color-white);
    text-decoration: none;
    border-radius: var(--border-radius-base);
    transition: var(--transition-base);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
}

.available-vehicle-container .btn:hover{
    background-color: var(--color-yellow);
    color: var(--color-black);
}
    