.vehicle-list-1{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

@media (max-width: 1240px) {
    .vehicle-list-1{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .vehicle-list-1{
        grid-template-columns: repeat(1, 1fr);
    }
}
