nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow-base);
    position: sticky;
    top: 0;
    z-index: 9999;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

@media(max-width:1200px) {
    .nav-container {
        padding: 0 20px;
    }
}

/* nav left */
.nav-left {
    display: flex;
    align-items: center;
}

.nav-left .logo img {
    width: 140px;
}

/* nav links */
.nav-left ul {
    display: flex;
    align-items: center;
    margin-left: 32px;
}


@media(max-width:992px) {
    .nav-left ul {
        display: none;
    }
}

.nav-left ul li {
    margin-right: 32px;
    list-style: none;
}

.nav-left ul li a {
    display: inline;
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition-base);
    font-size: var(--font-size-base);
}

.nav-left ul li a:hover {
    cursor: pointer;
    color: var(--color-yellow);
}

/* nav right */

.nav-right {
    display: flex;
    align-items: center;
}

.nav-right .nav-contact {
    display: flex;
    align-items: center;
    gap: 16px;
}

@media(max-width:992px) {
    .nav-right .nav-contact {
        display: none;
    }
}

.nav-right .nav-contact a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition-base);
    font-size: var(--font-size-base);
}

.nav-right .nav-contact a:hover {
    cursor: pointer;
    color: var(--color-yellow);
}

/* nav icon */
.nav-right .nav-icon {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 16px;
}

.nav-right .nav-icon a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition-base);
    font-size: var(--font-size-base);
}

.nav-right .nav-icon a:hover {
    cursor: pointer;
    color: var(--color-yellow);
}

/* nav buttons */
.nav-right .nav-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-left: 16px;
}

.nav-right .nav-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius-base);
    background-color: var(--color-secondary);
    color: var(--color-white);
    transition: var(--transition-base);
    font-size: var(--font-size-base);
}

.nav-right .nav-buttons a:hover {
    cursor: pointer;
    background-color: var(--color-yellow);
    color: var(--color-black);
}

@media(max-width:992px) {
    .nav-right .add-vehicle-button {
        display: none;
    }
}

/* nav toggle */
.nav-right .nav-toggle {
    align-items: center;
    margin-left: 16px;
    display: none;
}

@media(max-width:992px) {
    .nav-right .nav-toggle {
        display: flex;
    }
}

.nav-right .nav-toggle i {
    font-size: var(--font-size-base);
    color: var(--color-white);
    transition: var(--transition-base);
}

.nav-right .nav-toggle i:hover {
    cursor: pointer;
    color: var(--color-yellow);
}

/* nav profile */
.nav-right .nav-profile {
    display: flex;
    align-items: center;
    margin-left: 16px;
    position: relative;
}

.nav-right .nav-profile a {
    text-decoration: none;
}

.nav-right .nav-profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
    transition: var(--transition-base);
}

.nav-right .nav-profile img:hover {
    border: 2px solid var(--color-yellow);
}

/* nav profile dropdown */

.nav-right .nav-profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 180px;
    background-color: var(--color-primary);
    box-shadow: var(--box-shadow-base);
    z-index: 9999;
    padding: 16px;
    box-sizing: border-box;
    transition: var(--transition-base);
    display: none;
    border-radius: var(--border-radius-base);
    margin-top: 28px;
}

.nav-right .nav-profile-dropdown::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 12px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-primary);
}

.nav-right .nav-profile-dropdown ul {
    list-style: none;
    width: 100%;
}

.nav-right .nav-profile-dropdown ul li {
    margin-bottom: 8px;
    width: 100%;
}

.nav-right .nav-profile-dropdown ul li:last-child {
    margin-bottom: 0px;
}

.nav-right .nav-profile-dropdown ul li a {
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition-base);
    font-size: var(--font-size-base);
}

.nav-right .nav-profile-dropdown ul li a:hover {
    cursor: pointer;
    color: var(--color-yellow);

}

.nav-right .nav-profile-dropdown.active {
    display: flex;
}

/* nav mobile side view */
.nav-mobile {
    position: fixed;
    top: 0;
    right: -100%;
    width: 400px;
    height: 100%;
    background-color: var(--color-primary);
    z-index: 9999;
    padding: 32px;
    box-sizing: border-box;
    box-shadow: var(--box-shadow-base);
    transition: var(--transition-base);
}

@media(max-width:576px) {
    .nav-mobile {
        width: calc(100% - 40px);
    }
}

.nav-mobile.active {
    right: 0;
}

.nav-mobile .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 2px;
    cursor: pointer;
    color: var(--color-white);
    transition: var(--transition-base);
    border: 2px solid var(--color-white);
    border-radius: var(--border-radius-base);
    margin-top: 32px;
    margin-right: 32px;
}

.nav-mobile .close i {
    font-size: var(--font-size-base);
}

.nav-mobile .close:hover {
    cursor: pointer;
    color: var(--color-yellow);
}

.nav-mobile ul {
    list-style: none;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav-mobile ul li a {
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition-base);
    font-size: var(--font-size-base);
}

.nav-mobile ul li a:hover {
    cursor: pointer;
    color: var(--color-yellow);
}

.nav-mobile .nav-mobile-content {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.nav-mobile .nav-mobile-content a {
    text-decoration: none;
    color: var(--color-white);
    transition: var(--transition-base);
    font-size: var(--font-size-base);
}

.nav-mobile .nav-mobile-content a:hover {
    cursor: pointer;
    color: var(--color-yellow);
}